.footer {
    background: #2F2F2F;
}
.contacts {
    display: flex;
    color: white;
}
.social {
    display: flex;
    margin-left: 50px;
}
.socialscc {
    padding: 19px;

}
.adress {
    display: flex;
}
.adress p {
    color: white;
}
.adress h4 {
    color: #666666;
}
.points {
    margin-right: 85px;
}
.login {
    display: flex;
}
.login img {
    width: 200px;
    height: 100px;
    border-radius: 5%;
}
.img {
    margin-top: 30px;
}
.login p {
    color: white;
}
.low {
    margin: 130px 0  10px 85px;
}